
$fontstyle: italic;

.credentials {

    //background-color: green;
    background-image: url('../../img/background.png');        
    
    // it is nested!
    .loginTitle
    {
    font-style: $fontstyle;
    }

    ion-input, ion-list, ion-item
    {
        background-color: green;
        opacity: 0.8;
    }
    
}


    






